{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<!DOCTYPE html>
<html lang="vi">
<title>Quyền riêng tư</title>

<body data-token="4usyk4kc7fuo0sc48g8040wkwks48kw">
    <div class="container"></div>
    <div class="app">
        <main class="app-main pt-md-3 pt-3">
            <div class="wrapper ">
                <div class="page "><div class="page-inner">
	<div class="container mx-auto" style="max-width: 800px">
		<h3 class="mb-3 d-block text-center">Quyền riêng tư</h3>
		<p>Chúng tôi là Trương Văn Thông & Nguyễn Chí Nguyện ("chúng tôi", "của chúng tôi", "chúng tôi"). Chúng tôi cam kết bảo vệ và tôn trọng quyền riêng tư của bạn. Nếu bạn có thắc mắc về thông tin cá nhân của mình, vui lòng liên hệ với chúng tôi.</p>

		<p><strong>Những thông tin chúng tôi nắm giữ về bạn</strong></p>
		<p>Loại dữ liệu mà chúng tôi thu thập và xử lý bao gồm:</p>

		<ul>
			<li>Địa chỉ IP của bạn.</li>
		</ul>
		<p>Dữ liệu khác có thể được thu thập nếu bạn chọn chia sẻ, chẳng hạn như nếu bạn điền vào các trường trong hồ sơ của mình.</p>

		<p>Chúng tôi thu thập một số hoặc tất cả thông tin này trong các trường hợp sau:</p>

		<p>Với mục đích làm cho bạn trở thành thành viên đã đăng ký của trang web của chúng tôi, để bạn có thể đóng góp nội dung cho trang web này. Chúng tôi có thể sử dụng địa chỉ email của bạn để thông báo cho bạn về hoạt động trên trang web của chúng tôi.</p>
		<p>Địa chỉ IP của bạn được ghi lại khi bạn thực hiện các hành động nhất định trên trang web của chúng tôi. Địa chỉ IP của bạn không bao giờ được hiển thị công khai.</p>
		<p>Các cách khác chúng tôi có thể sử dụng thông tin cá nhân của bạn.</p>
		<p>Ngoài việc thông báo cho bạn về hoạt động trên trang web của chúng tôi có thể liên quan đến bạn, đôi khi chúng tôi có thể muốn trao đổi với tất cả các thành viên bất kỳ thông tin quan trọng nào như bản tin hoặc thông báo qua email. Bạn có thể chọn tham gia hoặc chọn không nhận những email như vậy trong hồ sơ của mình.</p>

		<p>Chúng tôi có thể thu thập thông tin nhận dạng phi cá nhân về bạn trong quá trình bạn tương tác với trang web của chúng tôi. Thông tin này có thể bao gồm thông tin kỹ thuật về trình duyệt hoặc loại thiết bị bạn đang sử dụng. Thông tin này sẽ được sử dụng hoàn toàn cho mục đích phân tích và theo dõi số lượng khách truy cập vào trang web của chúng tôi.</p>

		<p><strong>Giữ an toàn cho dữ liệu của bạn</strong><br/>
		<p>Chúng tôi cam kết đảm bảo rằng bất kỳ thông tin nào bạn cung cấp cho chúng tôi đều được bảo mật. Để ngăn chặn truy cập trái phép hoặc tiết lộ, chúng tôi đã áp dụng các biện pháp và thủ tục phù hợp để bảo vệ và bảo mật thông tin mà chúng tôi thu thập.</p>

		<p><strong>Chính sách Cookie</strong><br/>
		Cookie là các tệp văn bản nhỏ được chúng tôi thiết lập trên máy tính của bạn, cho phép chúng tôi cung cấp một số chức năng nhất định trên trang web của mình, chẳng hạn như có thể đăng nhập hoặc ghi nhớ các tùy chọn nhất định.</p>

		<p>Chúng tôi có chính sách cookie chi tiết và thêm thông tin về cookie mà chúng tôi đặt trên trang này.</p>

		<p><strong>Quyền lợi</strong><br/>
		Bạn có quyền truy cập vào dữ liệu cá nhân mà chúng tôi giữ về bạn hoặc có được một bản sao của dữ liệu đó. Để làm như vậy xin vui lòng liên hệ với chúng tôi. Nếu bạn tin rằng thông tin chúng tôi cung cấp cho bạn là không đầy đủ hoặc không chính xác, bạn có thể liên hệ với chúng tôi để yêu cầu chúng tôi hoàn thiện hoặc chỉnh sửa thông tin đó.</p>

		<p>Bạn cũng có quyền yêu cầu xóa dữ liệu cá nhân của mình. Vui lòng liên hệ với chúng tôi nếu bạn muốn chúng tôi xóa dữ liệu cá nhân của bạn.</p>

		<p><strong>Chấp nhận chính sách này</strong><br/>
		Việc tiếp tục sử dụng trang web của chúng tôi có nghĩa là bạn chấp nhận chính sách này. Nếu bạn không chấp nhận chính sách này thì vui lòng không sử dụng trang web này. Khi đăng ký, chúng tôi sẽ yêu cầu bạn chấp nhận rõ ràng chính sách bảo mật.</p>

		<p><strong>Các thay đổi đối với chính sách này</strong><br/>
		Chúng tôi có thể thực hiện các thay đổi đối với chính sách này bất kỳ lúc nào. Bạn có thể được yêu cầu xem xét và chấp nhận lại thông tin trong chính sách này nếu nó thay đổi trong tương lai.</p>

		<p><strong>Chính sách về quyền riêng tư của CAPTCHA</strong><br/>
		Trang web này được bảo vệ bởi reCAPTCHA và áp dụng chính sách bảo mật và điều khoản dịch vụ của Google.</p>
	</div>
</div>
<div id="cookieDemo"></div>
</div>
</div><!-- .app-footer -->

</html>
{% endblock main-content %}
