body,
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#333;
}

.bg-success {
    background-color: #48bb78 !important
}

.btn-success {
    color: #fff;
    background-color: #48bb78 !important;
    border-color: #48bb78 !important
}

.btn-success.focus,
.btn-success:focus,
.btn-success:hover {
    background-color: #38a169 !important;
    border-color: #38a169 !important
}

.bg-warning {
    background-color: #ed8936 !important
}

.btn-warning {
    background-color: #ed8936 !important;
    border-color: #ed8936 !important
}

.btn-warning.focus,
.btn-warning:focus,
.btn-warning:hover {
    background-color: #dd6b20 !important;
    border-color: #dd6b20 !important
}

.bg-danger {
    background-color: #9f7aea !important
}

.btn-danger {
    background-color: #9f7aea !important;
    border-color: #9f7aea !important
}

.btn-danger.focus,
.btn-danger:focus,
.btn-danger:hover {
    background-color: #805ad5 !important;
    border-color: #805ad5 !important
}

.btn-primary {
    background: #335eea;
    border-color: #335eea
}

.btn-subtle-primary {
    color: #335eea;
    background-color: rgba(1, 147, 84, .08);
    border-color: transparent
}

.btn-subtle-primary.focus,
.btn-subtle-primary:active,
.btn-subtle-primary:focus,
.btn-subtle-primary:hover {
    color: #335eea;
    background-color: rgba(1, 147, 84, .2);
    box-shadow: none
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1643d4;
    border-color: #153fc9
}

.pace .pace-progress {
    background: #412d6d;
    position: fixed;
    z-index: 1030;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px
}

.z-index-1 {
    z-index: 1
}

.visual-picker input[type=checkbox]:checked~.visual-picker-figure,
.visual-picker input[type=radio]:checked~.visual-picker-figure {
    box-shadow: inset 0 0 0 2px #007054, 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15)
}

.visual-picker-figure:after {
    color: #007054
}

.flatpickr-day.selected,
.flatpickr-day.selected:active,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover {
    background: #335eea;
    box-shadow: none;
    border-color: #335eea
}

.flatpickr-day.today,
.flatpickr-day.today:active,
.flatpickr-day.today:focus,
.flatpickr-day.today:hover {
    background: #007054;
    border-color: #007054;
    box-shadow: inset 0 0 0 1px #007054, inset 0 0 0 3px #fff
}

.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    background: linear-gradient(180deg, #fff, #f6f7f9);
    border-color: #007054;
    box-shadow: 0 0 0 1px #007054
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #412d6d
}

.navbar-dark .nav-link {
    color: #fff
}

.navbar-dark .nav-tabs .nav-item.show .nav-link,
.navbar-dark .nav-tabs .nav-link.active,
.navbar-dark .nav-tabs .nav-link:hover {
    color: #fff;
    border-color: #fff
}

.has-clearable {
    border-color: #335eea
}

:focus {
    outline-color: #335eea !important
}

#accordion .card-link {
    color: #335eea
}

#accordion .card-link.collapsed {
    color: #333
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #335eea
}

.form-control:focus {
    color: #005236;
    background-color: #fff;
    border-color: #007054;
    outline: 0;
    box-shadow: 0 0 0 1px #007054
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--focus .select2-selection--single,
.select2-container--open .select2-dropdown--above,
.select2-container--open .select2-selection--single,
.select2-dropdown {
    border-color: #005c40;
    box-shadow: 0 0 0 1px #005c40
}

.select2-container--open .select2-dropdown--below {
    box-shadow: -1px 1px 0 0 #005c40, 1px 0 0 0 #005c40
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #007054
}

.form-group {
    margin-bottom: 20px
}

.form-group label {
    font-size: 14px;
    color: rgba(20, 20, 31, .6)
}

div.dataTables_wrapper div.dataTables_info {
    white-space: nowrap;
    margin-bottom: 30px
}

table.table-bordered.dataTable tbody td {
    color: #777;
    font-size: 1rem;
    padding: .5rem
}

.icon_10 i {
    margin-right: 8px;
    display: inline-block;
    width: 16px
}

.btn-group-vertical,
.card-header .btn-group {
    position: relative;
    display: inline-flex;
    float: right;
    vertical-align: middle
}

.c_dot {
    position: absolute;
    content: '';
    display: block;
    background: #335eea;
    height: 2px;
    width: 80px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0)
}

.c_dot i {
    position: absolute;
    content: '';
    display: block;
    background: #335eea;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%, -35%)
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #335eea
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #1e1e23
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(20, 20, 31, .5);
    color: rgb(20, 20, 31);
    font-weight: 600;
}

.text-muted {
    color: #757575 !important
}

.blue-g {
    color: #4285f4
}

.red-g {
    color: #ea4335
}

.yellow-g {
    color: #fbbc05
}

.green-g {
    color: #34a853
}

.swiper-button-next,
.swiper-button-prev {
    color: #4b3777;
    padding: 0 20px 20px;
    transform: translate(0, -100%)
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .1
}

h1 {
    letter-spacing: -1px
}

.text-white {
    color: #fff !important
}

.paginate_button {
    margin: 0 5px;
    padding: 5px
}

.paginate_button:hover {
    text-decoration: none;
    cursor: pointer
}

.paginate_button.current {
    border-radius: 4px;
    background: #335eea;
    color: #fff;
    padding: 5px 15px
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

#accordion .card-header .card-link:after {
    font-family: FontAwesome;
    content: "\f068";
    float: right
}

#accordion .card-header .card-link.collapsed:after {
    content: "\f067"
}

@media (min-width:1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1180px
    }

    .wrapper>.has-sidebar-expand-xl.has-sidebar-fluid .page-inner {
        margin-right: calc(100vw - 30rem)
    }

    .wrapper>.has-sidebar-expand-xl.has-sidebar-fluid .page-sidebar {
        width: calc(100vw - 30rem);
        max-width: calc(100vw - 30rem)
    }
}

.logotype {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: 6s linear infinite stroke;
    animation: 6s linear infinite stroke;
    font: 5em/1 Open Sans, Impact
}

.logotype:nth-child(5n+1) {
    stroke: #fe6132;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s
}

.logotype:nth-child(5n+2) {
    stroke: #fe6132;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s
}

.logotype:nth-child(5n+3) {
    stroke: #fff;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s
}

.logotype:nth-child(5n+4) {
    stroke: #fff;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s
}

.logotype:nth-child(5n+5) {
    stroke: #fff;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -400
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -400
    }
}

.container .page-title-bar {
    padding: 0
}

.onesignal-customlink-container {
    min-height: auto !important;
    background: #f6f7f9;
    text-align: center;
    padding: 8px;
    margin-bottom: 12px
}

@media (max-width:991.98px) {
    .app-header>.navbar-expand-lg {
        overflow-y: inherit !important
    }
}

@media (max-width:414px) {
    .navbar .navbar-brand img {
        max-width: 180px;
        height: auto !important
    }
}

@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf) format('truetype')
}

@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv18E.ttf) format('truetype')
}

@font-face {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype')
}

body {
    font-family: Quicksand, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #606f7b;
    font-weight: 500;
    font-size: .875rem
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e2022
}

.bg-light {
    background: #f4f6f8
}

.text-dark {
    color: #003d79 !important
}

.modal-title {
    font-weight: 700;
    font-size: 1.3rem
}

.error {
    color: #ed4c78;
    margin: 10px 0;
    display: block;
    font-weight: 700
}

::-webkit-scrollbar {
    -webkit-appearance: none
}

::-webkit-scrollbar:vertical {
    width: 5px
}

::-webkit-scrollbar:horizontal {
    height: 5px
}

::-webkit-scrollbar-thumb {
    background-color: #377dff;
    border-radius: 10px
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff
}

td a {
    font-weight: 600
}

.display-3 {
    font-size: 2.5625rem;
    font-weight: 600;
    line-height: 1.4
}

.green {
    background: #00c9a7 !important;
    color: #fff !important
}

.blue {
    background: #377dff !important;
    color: #fff !important
}

.red {
    background: #ed4c78 !important;
    color: #fff !important
}

.violet {
    background: #6610f2 !important;
    color: #fff !important
}

.pink {
    background: #e83e8c !important;
    color: #fff !important
}

.yellow {
    background: #f5ca99 !important;
    color: #333
}

.orange {
    background: #00c9a7 !important;
    color: #fff !important
}

.text-xs {
    font-size: .6rem !important
}

.page-header-title {
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: .2rem
}

.text-gray {
    color: #999
}

.text-light-gray {
    color: #bbbaba
}

.bg-light-gray {
    background: #f2f7ff
}

.rounded-xs {
    border-radius: 2px
}

.card {
    border: .0625rem solid rgba(231, 234, 243, .7);
    border-radius: .75rem;
    box-shadow: 0 6px 12px rgb(140 152 164 / 8%)
}

.card-table td,
.card-table th {
    padding-right: .7rem;
    padding-left: .7rem
}

.pagination {
    margin-bottom: 0
}

.navbar-vertical:not([class*=container]) .navbar-nav .nav-link {
    padding: .1rem .8rem
}

.main .content {
    padding-top: 1.5rem;
    padding-bottom: 1.75rem
}

.navbar-vertical-content .nav-item {
    font-weight: 600;
    font-size: .875rem;
    padding: .1rem 0
}

.navbar-vertical-content .nav-item i {
    font-size: 1.5rem;
    color: #4a5577
}

.navbar .nav-link.active {
    border-radius: 5px;
    font-weight: 700;
    color: #377dff
}

.navbar .nav-link.active i {
    color: #377dff
}

.font-weight-bold {
    font-weight: 600 !important
}

.icon {
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1rem;
    width: 1rem;
    height: 1rem
}

.navbar-text-brand {
    color: #fff;
    font-size: 1.2rem
}

.navbar-text-brand span {
    font-weight: 700;
    color: #fff;
    margin-top: 1rem
}

.navbar-vertical-content {
    font-weight: 500
}

.nav-icon {
    margin-right: 5px
}

.table {
    margin-bottom: 0
}

.table thead th {
    padding-top: .4rem;
    padding-bottom: .5rem;
    font-weight: 700
}

.table .ove {
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.navbar-vertical-detached {
    width: 12.25rem
}

.sidebar-detached-content {
    margin-left: 13.75rem
}

.navbar-vertical:not([class*=container]) .navbar-nav.navbar-nav-lg .nav-link {
    margin-top: 0;
    margin-bottom: 0
}

.page-title {
    font-size: 2rem
}

.page-header {
    border-bottom: 0;
    padding: 0;
    margin-bottom: .875rem
}

.page-header-text {
    margin-bottom: .25rem
}

.card-table td {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.w-1 {
    width: 10px
}

.w-2 {
    width: 20px
}

.w-3 {
    width: 30px
}

.w-4 {
    width: 40px
}

.w-5 {
    width: 50px
}

.w-6 {
    width: 60px
}

.w-7 {
    width: 70px
}

.w-8 {
    width: 80px
}

.w-9 {
    width: 90px
}

.w-10 {
    width: 100px
}

.w-11 {
    width: 110px
}

.w-12 {
    width: 120px
}

.w-13 {
    width: 130px
}

.w-14 {
    width: 140px
}

.w-15 {
    width: 150px
}

.w-16 {
    width: 160px
}

.w-17 {
    width: 170px
}

.w-18 {
    width: 180px
}

.w-19 {
    width: 190px
}

.w-20 {
    width: 200px
}

.text-over {
    font-size: .9rem;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.ph-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 30px 15px 15px;
    overflow: hidden;
    direction: ltr;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px
}

.ph-item,
.ph-item *,
.ph-item :after,
.ph-item :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.ph-item:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    background: -webkit-gradient(linear, left top, right top, color-stop(46%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .35)), color-stop(54%, rgba(255, 255, 255, 0))) 50% 50%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
    -webkit-animation: .8s linear infinite phAnimation;
    animation: .8s linear infinite phAnimation;
    content: " ";
    pointer-events: none
}

.ph-item>* {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px
}

.ph-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -7.5px
}

.ph-row div {
    height: 10px;
    margin-top: 7.5px;
    background-color: #ced4da
}

.ph-row .big,
.ph-row.big div {
    height: 20px
}

.ph-row .empty {
    background-color: rgba(255, 255, 255, 0)
}

.ph-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%
}

.ph-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%
}

.ph-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
}

.ph-col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%
}

.ph-col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%
}

.ph-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

[class*=ph-col] {
    direction: ltr
}

[class*=ph-col]>*+.ph-row {
    margin-top: 0
}

[class*=ph-col]>*+* {
    margin-top: 7.5px
}

.ph-avatar {
    position: relative;
    width: 100%;
    min-width: 60px;
    overflow: hidden;
    background-color: #ced4da;
    border-radius: 50%
}

.ph-avatar:before {
    display: block;
    padding-top: 100%;
    content: " "
}

.ph-picture {
    width: 100%;
    height: 120px;
    background-color: #ced4da
}

.loadingLds {
    position: absolute;
    right: 15px;
    top: -5px;
    z-index: 9999
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 3px;
    width: 10px;
    background: #fff;
    -webkit-animation: 1.2s cubic-bezier(0, .5, .5, 1) infinite lds-facebook;
    animation: 1.2s cubic-bezier(0, .5, .5, 1) infinite lds-facebook
}

.lds-facebook div:nth-child(1) {
    left: 3px;
    -webkit-animation-delay: -.24s;
    animation-delay: -.24s
}

.lds-facebook div:nth-child(2) {
    left: 16px;
    -webkit-animation-delay: -.12s;
    animation-delay: -.12s
}

.lds-facebook div:nth-child(3) {
    left: 30px;
    -webkit-animation-delay: 0;
    animation-delay: 0
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: .0625rem solid transparent;
    border-radius: .3125rem
}

.alert ul {
    margin-bottom: 0;
    padding-left: 1rem
}

.alert ul h5 {
    text-transform: uppercase
}

@-webkit-keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px
    }

    100%,
    50% {
        top: 24px;
        height: 24px
    }
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px
    }

    100%,
    50% {
        top: 24px;
        height: 24px
    }
}

@-webkit-keyframes phAnimation {
    0% {
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0)
    }

    to {
        -webkit-transform: translate3d(30%, 0, 0);
        transform: translate3d(30%, 0, 0)
    }
}

@keyframes phAnimation {
    0% {
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0)
    }

    to {
        -webkit-transform: translate3d(30%, 0, 0);
        transform: translate3d(30%, 0, 0)
    }
}

@media screen and (max-width:600px) {
    li.page-item {
        display: none
    }

    .page-item.active,
    .page-item.disabled,
    .page-item:first-child,
    .page-item:last-child,
    .page-item:nth-child(2),
    .page-item:nth-last-child(2) {
        display: block
    }

    .navbar-expand-lg .navbar.navbar-vertical-detached {
        position: relative;
        width: auto;
        z-index: 0
    }
}

.col-2dot4,
.col-lg-2dot4,
.col-md-2dot4,
.col-sm-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

@media (min-width:1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}

@media (min-width:540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}

@media (min-width:720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}

@media (min-width:960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}

@media (min-width:1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .footer-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3.5rem
    }
}